*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
}
.nav{
    width:100%;
    font-family: 'Ubuntu', sans-serif;
    position:fixed;
    height:60px;
    display:flex;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 8px;
  
}
.image{
    width:50px;
    margin-left:20px;
    margin-right:20px;
}
.title{
    margin-right:auto;
}
.a{
    margin-right:20px;
    font-weight:bold;
    color:gray;
    cursor: pointer;
}
.a.active{
    color:black;
}
